* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: rgb(14, 181, 247);
  --font-color: rgb(247, 135, 7);
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
}
#keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 2rem 0;
}
